body {
  font-family: system-ui;
  background: cyan;
  color: white;
  text-align: center;
  background: linear-gradient(to right, rgb(170, 170, 243), pink);
}
.chart div {
  margin-top: 100px;
  font: 10px arial;
  background: linear-gradient(to right, rgb(76, 0, 255), rgb(73, 246, 5));
  text-align: right;
  padding: 5px;
  margin: 5px;
  color: black;
  height: 50px;
  border-radius: 10px;
  font-size: large;
}
.main{
  background: linear-gradient(to right, #ff9d00, rgb(41, 5, 246));
}
